<app-encabezado></app-encabezado>
<main>
    <ul id="usuarios">

        @for(usuario of usuarios; track usuario.id){
            <!-- <li *ngFor="let usuario of usuarios"> -->
            <li>
            <app-usuario 
            [seleccionado]="usuario.id===idUsuarioSeleccionado"
            [usuario]="usuario"
            (seleccion)="alSeleccionarUsuario($event)"
            />
        </li>
        }
    </ul>

    @if (usuarioSeleccionado) {
        <!-- <app-tareas *ngIf="usuarioSeleccionado; else textoCondicional" -->
        <app-tareas
        [idUsuario]="usuarioSeleccionado.id"
        [nombre]="usuarioSeleccionado.nombre "
    />
    }@else {
     <ng-template #textoCondicional>
        <p id="textoCondicional"> Selecciona un usuario </p>
    </ng-template>
    }

    
</main>
